@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  @apply bg-black;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.enact-fit {
  padding: 0 !important;
}

.spottable:focus {
  @apply bg-red-600 !important;
  @apply text-gray-200 !important;
}

[class*='Slider_slider'].spottable:focus {
  background: transparent !important;
}

[class*='Spinner_bg'] {
  background: transparent !important;
}

[class*='MoonstoneDecorator_root'] {
  font-size: 1.3rem !important;
  line-height: 1.75rem !important;
}

[class*='Input_decorator'] {
  @apply m-0 border border-gray-700 bg-gray-800 rounded-lg transition-colors overflow-hidden w-full h-14 pb-0 pt-0 !important;
}

[class*='Input_decorator'].spottable:focus {
  @apply border-red-600 bg-gray-900 !important;
}

[class*='Input_decorator'] * {
  background-color: transparent !important;
}

[class*='Input_decorator'] [class*='Input_input'] {
  @apply w-full h-full px-4 text-gray-200 outline-none !important;
}

.bg-black.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black.bg-opacity-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Menu transition */
.transition-all {
  transition-property: all;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

/* Scroll to top button transitions */
.transition-opacity {
  transition-property: opacity;
}
